{% extends 'base.html.twig' %}

{% block body %}
    <main class="d-flex flex flex-wrap flex-row justify-content-start align-items-start justify-content-sm-around">
        {% for departement in departements %}
            <div class="card" style="width: 18rem; margin-bottom: 25px">
                <div class="card-body">
                    <img class="card-img mb-10" src="{{ asset('images/' ~ departement.managers.current.photo|default('employee/no_image.png'))}}" alt="{{ departement.managers.current.lastName|default('Photo') ~ ' ' ~ departement.managers.current.firstName|default("générique") }}">
                    <h5 class="card-title"><a class="text-decoration-none text-blue" href="{{ path('app_dept_show', {'id': departement.id}) }}">{{ departement.deptName }}</a></h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ departement.managers.current.fullName|default('Pas de manager') }}</h6>
                    <p class="card-text">{{departement.description|default('Pas de description')}}</p>
                    {% set EmpCount = 0 %}

                    {% for employee in departement.deptEmp %}
                        {% if employee.toDate == date('9999-12-31') %}
                            {% set EmpCount = EmpCount + 1 %}
                        {% endif %}
                    {% endfor %}

                    {% if EmpCount == 0 %}
                        <h6 class="card-subtitle mb-1">Pas d'employés</h6>
                    {% elseif EmpCount == 1 %}
                        <h6 class="card-subtitle mb-1">{{ EmpCount }} employé</h6>
                        {% else %}
                            <h6 class="card-subtitle mb-1">{{ EmpCount }} employés</h6>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="#" class="card-link text-decoration-none text-black">Postes à pourvoir</a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if departement.id == app.user.departments.current.id|default or is_granted("ROLE_ADMIN") %}
                            <a href="{{ departement.roiUrl }}" class="card-link text-decoration-none text-black">R.O.I</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </main>
    {#
    <tr>
        <td>
            <a href="{{ path('app_dept_show', {'id': departement.id }) }}">
                {{ departement.id }}
            </a>
        </td>
        <td>{{ departement.deptName }}</td>
        <td>{{ departement.managers.current }}</td>
        <td>
            <img style="max-height: 70px" src="{{ asset('images/' ~ departement.managers.current.photo|default('employee/no_image.png'))  }}">
        </td>
        <td>{{ departement.description|default('Pas de description') }}</td>
        {% set EmpCount = 0 %}
        {% for employee in departement.deptEmps %}
            {% if employee.toDate == date('9999-01-01') %}
                {% set EmpCount = EmpCount + 1 %}
            {% endif %}
        {% endfor %}
        <td>{{ EmpCount }}</td>

    </tr>
    #}

{% endblock %}
