{% extends 'base.html.twig' %}

{% block body %}
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Manager</th>
        <th>Photo</th>
    </tr>
    <tr>
        <td>{{ departement.id }}</td>
        <td>{{ departement.deptName }}</td>
        <td>{{ manager.lastName }} {{ manager.firstName }}</td>
        <td><img src="images/{{ manager.photo }}"/></td>
    </tr>
</table>
{% endblock %}