{% extends 'base.html.twig' %}

{% block body %}

    <h2>Manager</h2>
<table>
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Photo</th>
    </tr>
    <tr>
        <td>{{ departement.managers.current.lastName|default }}</td>
        <td>{{ departement.managers.current.firstNAme|default }}</td>
        <td><img style="max-height: 70px" src="{{ asset('images/' ~ departement.managers.current.photo|default('employee/no_image.png'))  }}"></td>
    </tr>
</table>

    <h2>Employés</h2>
    <table>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Photo</th>
        </tr>
        {% for deptEmp in departement.deptEmp %}
            {% if departement.managers is not empty and departement.managers.current.id != deptEmp.employee.id %}
        <tr>
            <td>{{ deptEmp.employee.lastName|default }}</td>
            <td>{{ deptEmp.employee.firstName|default }}</td>
            <td><img style="max-height: 70px" src="{{ asset('images/' ~ deptEmp.employee.photo|default('employee/no_image.png'))  }}"></td>
        </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}