{% extends 'base.html.twig' %}

{% block body %}
<table>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Manager</th>
        <th>Photo</th>
    </tr>
    <tr>
        <td>{{ departement.id }}</td>
        <td>{{ departement.deptName }}</td>
        <td>{{ manager.lastName|default }} {{ manager.firstName|default('Pas de manager') }}</td>
        <td><img style="max-height: 70px" src="{{ asset('images/' ~ departement.managers.current.photo|default('employee/no_image.png'))  }}"></td>
    </tr>
</table>
{% endblock %}